.header {
  width: 1890px;
  height: 40px;
  background: linear-gradient(90deg, #3951e7 20.77%, #832ab9 91.64%);
  .logo {
    margin-top: 12px;
    margin-left: 409px;
  }
  .language {
    width: 100px;
    position: relative;
    bottom: 48px;
    margin-top: 25px;
    margin-left: 1500px;
    p {
      margin-left: 10px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 48px;
      display: flex;
      align-items: center;
      color: #ffffff;
    }
  }
  .down {
    cursor: pointer;
    position: relative;
    margin-bottom: 7px;
    margin-left: 10px;
  }
  .vipadashka {
    cursor: pointer;
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    p {
      cursor: pointer;
      margin-left: 10px;
      font-family: 'Courier New', Courier, monospace;
      color: black;
      padding-left: 25px;
      .activeParagraph {
        background: #f2f4ff;
      }
    }
    p:hover {
      cursor: pointer;
      background: #f2f4ff;
    }
  }
  .vipadashkaActive {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    p {
      cursor: pointer;
      margin-left: 10px;
      font-family: 'Courier New', Courier, monospace;
      color: black;
      padding-left: 25px;
    }
    p:hover {
      cursor: pointer;
      background: #f2f4ff;
    }
  }
}
